
.game-cells {
    text-align: center !important;
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;

}
#board {
    min-width: 360px;
}
/* 
.game-cells:hover {
    background-color: yellow;
} */