{% extends 'base.html' %}
{% block display_area%}
<h2 class="display-5">
    Instructions
</h2>
<p>Drag your pointer from letter to letter within the 5 x 5 area to make words and score points. You can go right, left, up, down and diagonal.  You can also reverse direction.</p>
<p>But you cannot use the same word twice or go over the same letter twice in the same word.</p>
<div class="row justify-content-center">
    <form action="/start-timer" class="justify-content-center">
        <button type="submit" class="btn btn-success px-5 shadow-lg border-warning">Let's Play!</button>
    </form>
</div>
<div class="row my-2"></div>

{% endblock%}